# Dependencies
node_modules
**/node_modules

# Build outputs
.next
**/dist
**/.turbo

# Development
.git
.gitignore
**/*.test.ts
**/*.test.tsx
**/tests
**/vitest.config.ts
**/playwright.config.ts
playwright-report
test-results

# Documentation
docs
*.md
!README.md

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db
